@use "./reset.scss";
@use "./fonts.scss";
@use "./root.scss";

html,
body,
#app {
  min-height: 100dvh;
  max-width: 100dvw;
  margin: 0;
  padding: 0;

  overflow-x: hidden;

  color: var(--main-darkest);
}

body {
  height: 100%;

  font-size: var(--font-size-p);
  font-family: var(--font-family-p);
  line-height: 1.6;

  background-color: var(--white);
}

#app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: var(--font-family-h);
  font-weight: bold;
}

.c-heading-1 {
  font-size: var(--font-size-h1);
}

.c-heading-2 {
  font-size: var(--font-size-h2);
}

.c-heading-3 {
  font-size: var(--font-size-h3);
}

strong {
  font-weight: bold;
}

p {
  line-height: 1.8;
}

.button {
  display: block;

  border: none;

  text-decoration: none;

  padding: var(--spacing-xs) var(--spacing-l);

  font-weight: bold;
  font-size: var(--font-size-sb);

  color: var(--white);
  background-color: var(--main);
  border-radius: var(--spacing-s);

  width: max-content;

  transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.-disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &:hover {
    background-color: var(--main-hover);
  }
}

.visually-hidden {
  opacity: 0;
  position: absolute;
  top: 1000;
  left: 1000;
  height: 0;
  width: 0;
}

.hidden {
  display: none;
}
